<!DOCTYPE HTML>
<html>
<head>
  <title>Encoding Bits <%= page_title %></title>
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag "style" %>
  <meta name="viewport" content="width=device-width maximum-scale=1.0">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
</head>
<body>
  <div class="main">
    <div class="header">
      <div class="titles">
        <div class="title"><a href="/">Encoding Bits</a></div>
        <div class="subtitle">Musing of a software engineer.</div>
      </div>
      <div class="about">A short-form blog by <a href="http://www.twitter.com/zombidev" target="_blank">Mike Pack</a>.</div>
      <div style="clear: both;"></div>
    </div>
    <div class="body">
      <%= content_for(:template) %>
    </div>
    <div class="footer">
      <div class="contact">
        Follow via <a href="/feed.atom">RSS</a>. If you have comments, get in touch on <a href="http://www.twitter.com/zombidev" target="_blank">Twitter</a>. Elixir source for this blog on <a href="https://github.com/mikepack/encodingbits" target="_blank">GitHub</a>.
      </div>
    </div>
  </div>
</body>
</html>
